<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <link rel="stylesheet" href="/node_modules/prismjs/themes/prism-tomorrow.css"></link>
    <link rel="stylesheet" href="../styles/page.css"></link>

    <style>
      .gwd-content {
        overflow: visible;
      }
    </style>
  </head>

  <body>

    <div class='gwd-content-wrapper'>
      <div class="gwd-content">
        
        <eve-container fluid>
          <content-outlet></content-outlet>
        </eve-container>
      
      </div>
    </div>

  </body>

</html>