<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <meta-outlet></meta-outlet>

    <script type="module">
      import '@evergreen-wc/eve-container';
    </script>
    <script type="module" src="../components/banner/banner.js"></script>
    <script type="module" src="../components/footer/footer.js"></script>
    <script type="module" src="../components/header/header.js"></script>

    <script>
      function getOutboundLink() {
        console.debug('TODO placeholder for Google Analytics...')
      }
    </script>

    <link rel="stylesheet" href="../styles/theme.css"></link>
    <link rel="stylesheet" href="../styles/home.css"></link>
  </head>

  <body>

    <div class='gwd-wrapper'>
      <app-header></app-header>

      <div class="gwd-content-outlet">
        <app-banner></app-banner>
        
        <div class='gwd-content-wrapper'>
          <eve-container fluid>
            <div class='gwd-page-template gwd-content'>
              <content-outlet></content-outlet>
            </div>
          </eve-container>
        </div>
      </div>
      
      <!-- TODO <lit-route><h1>404 Not found</h1></lit-route> -->
      <app-footer></app-footer>
    </div>

  </body>

</html>