<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <!-- TODO have to use forward slash / for path references?  translate on the fly in serve.js? -->
    <link rel="stylesheet" href="/node_modules/prismjs/themes/prism-tomorrow.css"></link>
    <link rel="stylesheet" href="/styles/page.css"></link>

    <script type="module" src="/components/shelf/shelf.js"></script>
    <script type="module" src="/components/scroll/scroll.js"></script>
    <script>
      window.onload = () => {
        const route = window.location.pathname.split('/')[1];
        
        document.getElementsByTagName('app-shelf')[0].setAttribute('page', route);
      }
    </script>

    <link rel="stylesheet" href="/styles/page.css"/>
  </head>

  <body>

    <div class='gwd-content-wrapper'>
      
      <div class="gwd-sidebar">
        <app-shelf .page="${page}"></app-shelf>
      </div>
      
      <div class="gwd-content">
        <eve-container fluid>
          <app-scroll>
            <content-outlet></content-outlet>
          </app-scroll>
        </eve-container>
      </div>
    
    </div>

  </body>
  
</html>