<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <link rel="stylesheet" href="/node_modules/prismjs/themes/prism-tomorrow.css"></link>
    <link rel="stylesheet" href="../styles/page.css"></link>

    <script type="module" src="../components/shelf/shelf.js"></script>
    <script type="module" src="../components/scroll/scroll.js"></script>
    <script>
      window.onload = () => {
        const editButton = document.getElementById('github-edit-button');
        const path = window.location.pathname;
        const params = path.split('/').filter(param => param !== "");
        const filePath = params.length <= 1 ? `${params[0]}/index.md` : `${params.join("/")}.md`

        document.getElementsByTagName('app-shelf')[0].setAttribute('page', params[0]);
        editButton.href = `https://github.com/ProjectEvergreen/greenwood/tree/master/www/pages/${filePath}`
      }
    </script>

    <link rel="stylesheet" href="../styles/page.css"/>
  </head>

  <body>

    <div class='gwd-content-wrapper'>

      <div class="gwd-sidebar">
        <app-shelf></app-shelf>
      </div>

      <div class="gwd-content">
        <eve-container fluid>
          <app-scroll>
            <content-outlet></content-outlet>
          </app-scroll>
        </eve-container>
        <div id="github-edit-button-container">
          <a id="github-edit-button">Edit on GitHub</a>
        </div>
      </div>

    </div>

  </body>

</html>
