@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600|Poppins:300,400,600&display=swap');

:host {

  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-family: 'Nunito Sans', sans-serif;
  }

  & a {
    text-decoration: none;
    color: #2D3D3A;

    &:hover {
      color:black;
    }
  }

  & .list-wrap a {
    display: grid;
    grid-template-columns: auto 20px;
    align-items: center;
  }

  & h2 {
    pointer-events: none;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    @media (max-width: 768px) {
      padding-left:10px;
      padding-right:10px;
    }
  }
  & hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }

  & div > ul  {
    padding-left: 0px;
    & li {
      list-style:none;
    }
  }

  & .list-wrap ul {
    padding-left: 0px;

    & li {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      & a {
        cursor: pointer;
      }
    }
    @media (max-width: 768px) {
      padding-left:10px;
    }
  }

  & span {
    pointer-events: none;
    > svg {
      margin-top:5px;
      margin-left: auto;
      height:20px;
    }
  }

  & .hidden {
    display:none !important;
  }

  & .active {
    color:red;
  }
}
