:host {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: 'Source Sans Pro', sans-serif;
  }

  & a {
    text-decoration: none;
    color: #2d3d3a;

    &:hover,
    &:focus {
      color: black;
    }
  }

  & .list-wrap > :first-child {
    display: grid;
    grid-template-columns: auto 20px;
    align-items: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;

    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  & h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;

    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  & div > ul {
    padding-left: 0;

    & li {
      list-style: none;
    }
  }

  & .list-wrap ul {
    padding-left: 0;

    & li {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;

      & a {
        cursor: pointer;
      }
    }

    @media (max-width: 768px) {
      padding-left: 10px;
    }
  }

  & span {
    pointer-events: none;

    > svg {
      margin-top: 10px;
      margin-left: auto;
      height: 15px;
    }
  }

  & .hidden {
    display: none !important;
  }

  & .active {
    color: red;
  }
}
