*.DS_Store
*.log
.greenwood/
.nyc_output/
.vscode/
coverage/
node_modules/
packages/**/test/**/yarn.lock
packages/**/test/**/package-lock.json
packages/**/test/**/netlify
packages/**/test/**/.netlify
packages/**/test/**/.vercel
public/
adapter-outlet/