:host {
  & h3 {
    color: green;
  }

  & .gwd-content {
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 300px;
    padding: 0 15%;
    font-size: 1.2rem;

    & h3 {
      font-size: 2rem;
      margin: 5px 0;
    }

    & a {
      color: #1d337a;
    }
  }

  & .cards {
    margin: 0 -15%;
  }

  & .message {
    padding: 4rem;
    text-align: center;

    & hr {
      margin-top: 4rem;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }
}
