h3 {
  color: green;
}

.gwd-content {
  background-color:white !important;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 300px;
  background-color: #efefef;
  font-size:1.2rem;
  width: 85%;

  & h3 {
    font-size:2rem;
    margin: 5px 0;
  }

  & a {
    color: #1d337a;
  }
}

.cards {
  margin: 0 -15%;
}
  
.message {
  padding: 2rem;
  text-align:center;
  margin: 0 auto;
  width: 80%;

  & hr {
    margin-top: 4rem;
  }

  @media(max-width:768px) {
    padding:0;
  }
}

.cards {
  margin: 20px -0.25rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

app-card {
  width: 100%;
  padding: 1.5rem;
}

ul {
  columns: 2;
  list-style: none;
  font-style: italic;
  margin-bottom: 50px;
}