:host {
  & h3 {
    color: green;
  }

  & .content {
    margin: 0 auto;
    min-height: 400px;
    padding: 20px 0 10px 0;
    background-color:white;
    font-size:1.2rem;

    & h3 {
      font-size:2rem;
      margin: 5px 0;
    }

    & a {
      color: #006400;
    }
  }
}