h3 {
  color: #2d3d3a;
  padding-top: 4rem;
  font-size: 1.8rem !important;
}

h2 {
  font-size: 2rem;
}

h4,
h5,
h6 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.8rem;
  color: #2d3d3a;
}

h3 > a > span.icon {
  width: 28px;
  height: 24px;
  float: left;
  padding: 2px;
  background-image: url(/assets/link.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-y: center;

  &:hover:focus {
    filter: invert(0.4);
  }
}

.gwd-content-wrapper {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.gwd-sidebar {
  width: 300px;
  background-color: white;
  height: 100%;
  overflow: auto;
  padding: 2rem;
  position: sticky;
  top: 0;
  border-right: 1px solid #ededed;

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    border-right: 0;
    border-bottom: 3px solid #ededed;
  }
}

.gwd-content {
  max-width: 100ch;
  height: 100%;
  min-height: calc(100vh - (70px + 6rem));
  margin: auto;
  background-color: white;
  font-size: 1.2rem;
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 2rem 0 0;
  }

  #github-edit-button {
    padding: 1rem;
    background-color: black;
    color: white;
    margin: 2rem 0 1rem;
    border-radius: 0.5rem;
  }

  #github-edit-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }

  & h3 {
    font-size: 2rem;
    margin: 5px 0;
  }

  & a {
    color: #1d337a;
  }

  & img {
    width: 100%;
  }

  & blockquote {
    margin: 0.5em;
    padding: 15px;
    background-color: #dcf9ca !important;
    border-left: 6px solid #192a27;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

table {
  border: 1px solid #020202;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

table td:first-child {
  min-width: 100px;
  white-space: nowrap;
  padding: 0 5px;
}

table th {
  background-color: #f9e7ca;
  text-decoration: underline;
}

iframe.stackblitz {
  width: 100%;
  height: 800px;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
