:host {
  & h3 {
      color: green;
  }

  & .content-wrapper {
    display:flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  & .sidebar {
    width: 400px;
    background-color: rgb(242, 236, 239);
    height: 100vh;
    overflow: scroll;
    padding: 2rem;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      padding: 0px;
    }
  }

  & .content {
    width: calc(100vw - 400px);
    height: 100vh;
    overflow: scroll;
    margin: auto;
    background-color:white;
    font-size:1.2rem;

    & h3 {
      font-size:2rem;
      margin: 5px 0;
    }

    & a {
      color: #006400;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }
}