@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: #f0f0f0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

table {
  background-color: #334a5a;
  border-radius: 5px;
  padding: 10px!important;

  & tr {
    padding: 10px;
  }

  & td, & a, & th {
    color: #efefef!important;
  }
}

img {
  width: 100%;
}

h2, h3, h4, h5 {
  margin-top:1.5rem !important;
  margin-bottom:1.5rem !important;
  color: #1d337a;
}

ul {
  padding-left: 20px;
}

p {
  margin: 20px 0;
}

ul > li {
  margin: 10px 0;
}

a {
  & .title {
    text-decoration: underline;
  }

  & .step {
    margin: 2px;
  }
}

.content-wrapper {
  background-color: white;
}

.wrapper {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;

  & .single-column {
    margin: inherit;
    color: #000;
  }
}