@import url('../assets/fonts/source-sans-pro.css');

/* TODO these break */
/* @import '../../node_modules/@spectrum-web-components/styles/theme-dark.css'; */
/* @import url('../../node_modules/@spectrum-web-components/styles/all-large-darkest.css'); */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: white;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
}

img {
  width: 100%;
}

h2,
h3,
h4,
h5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  color: #201e2e;
}

ul,
ol {
  padding-left: 20px;
}

p {
  margin: 20px 0;
}

ul > li {
  margin: 10px 0;
}

a {
  color: #504b65;
  text-decoration: underline;

  & .step {
    margin: 2px;
  }
}

p > code {
  color: #2d3d3a;
  font-weight: 800;
}

.gwd-wrapper {
  & .single-column {
    margin: inherit;
    color: #000;
  }
}
