@import url('../assets/fonts/source-sans-pro.css');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: white;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height:1.4;
}

img {
  width: 100%;
}

h2, h3, h4, h5 {
  margin-top:1.5rem !important;
  margin-bottom:1.5rem !important;
  color: #201E2E;
}

ul, ol {
  padding-left: 20px;
}

p {
  margin: 20px 0;
}

ul > li {
  margin: 10px 0;
}

a {
  & .title {
    text-decoration: underline;
  }

  & .step {
    margin: 2px;
  }
}

p > code {
  color: #2D3D3A;
  font-weight: 800;
}

.gwd-wrapper {

  & .single-column {
    margin: inherit;
    color: #000;
  }
}