@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:host {
  & .banner {
    background-color: #fff;
    min-height: 60vh;

    & .content {
      padding: 5vh 10px;
      font-size: 1.7rem;
      text-align: center;

      & hr {
        border-radius: 25px;
        border-style: none;
        height: 3px;
        margin: 0 auto;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.6);
        width: 160px;
      }

      & h1 {
        font-size: 3.5rem;
        color: #201e2e;
      }

      & h3 {
        padding: 10px 0;
        max-width: 65%;
        margin: 0 auto;
        color: #201e2e;

        @media (min-width: 768px) {
          max-width: 50%;
        }
      }

      & img {
        width: 300px;
        height: 300px;
      }
    }

    @media screen and (prefers-reduced-motion: reduce) {
      & span.off {
        animation: none;

        @media (prefers-reduced-motion) {
          animation: 0;
        }
      }
    }

    & span.off {
      animation: 1s fadeOut ease-in-out;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      & span.on {
        animation: none;
      }
    }

    & span.on {
      animation: 1.5s fadeIn linear;
    }
  }

  @media (max-width: 980px) {
    & .banner {
      min-height: 40vh;

      & .content {
        font-size: 1.5rem;

        & h1 {
          font-size: 3rem;
        }

        & img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  @media (max-width: 756px) {
    & .banner {
      padding: 0;

      & .content {
        margin-top: 0;

        & h3 {
          width: 100%;
        }
      }
    }
  }
}