:host .btn {
  display: inline-block;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.75rem;
  color: white;
  background-color: #201E2E;
  border: 1px solid white;
  transition: 0.3s;
}

:host .btn:hover {
  background-color: #425D58;
  border: 1px solid white;
}