version: 2
jobs:
  build:
    docker:
      - image: thegreenhouse/nodejs-dev:0.4.0

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Debug environment
          command: node -v && npm -v && yarn -v

      - run:
          name: Install Project Dependencies
          command: yarn install

      - run:
        name: Run Unit Tests
        command: yarn test

      - run:
          name: Run CLI Script (index.js)
          command: yarn clean && yarn build