table {
  background-color: #334a5a;
  border-radius: 5px;
  padding: 10px!important;

  & tr {
    padding: 10px;
  }

  & td, & a, & th {
    color: #efefef!important;
  }
}

img {
  width: 100%;
}

h2, h3, h4, h5 {
  color: #1d337a;
}

ul {
  padding-left: 20px;
}

p {
  margin: 20px 0;
}

ul > li {
  margin: 10px 0;
}

a {
  & .title {
    text-decoration: underline;
  }

  & .step {
    margin: 2px;
  }
}

:host {
  & .content {
    grid-area: content;
    min-height: 400px;
    padding: 10px 30% 0 0;

    & h1 {
      margin: 5px 0;
    }

    & a {
      color: #006400;
    }
  }

  & .wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "sidebar"
      "content"
      "footer";
  }
  @media (min-width: 500px) {
    & .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "header  header"
        "nav     nav"
        "sidebar content"
        "footer  footer";
    }
  }
}