:host {
  grid-area: footer;
}

:host .footer {
  background-color: #192a27;
  min-height: 30px;
  padding-top: 10px;
}

:host h4 {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

:host a {
  color: white;
  text-decoration:none;
}