:host {
  text-align: center;
  margin-bottom: 40px;
}

:host h2 {
  font-size: 3em;
}

:host button {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.5em;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
}