.container {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--size-4) var(--size-2);
  margin: 0;
  border-bottom: 2px dotted var(--color-gray);
}

.navBarMenu {
  display: flex;
}

.navBarMenuItem {
  & a {
    text-decoration: none;
    color: var(--color-black);
  }
}

.navBarMenu,
.navBarMenuItem {
  color: red;
}

@media screen and (min-width: 480px) {
  .container {
    padding: 0 var(--size-10) var(--size-2);
  }
}

@media screen and (min-width: 768px) {
  .navBarMenu {
    display: none;
  }

  .navBarMenuItem {
    display: flex;
    cursor: pointer;
  }
}