:host {
  & .header {
    grid-area: header;
    background-color: #006400;
    min-height: 30px;
    padding-top: 10px;

    & h4 {
      width: 90%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }

    & a {
      color: white;
    }
  }
}