:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  text-align: center;

  & slot {
    text-align: left;
    font-size: 1rem;
  }

  & .card-img-top {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

    & img {
      width: 200px;
      height: 200px;
      max-width: 200px;
    }
  }
}
