:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  text-align: center;

  @media (max-width: 768px) {
    .gwd-card {
      padding: 0;
    }
  }

  & slot {
    padding: 10px;
    margin: 0.25rem;
    flex: 1 1 33.333%;
  }

  & .gwd-card {
    padding: 1.25rem;
  }

  & .card-img-top {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

    & img {
      width: 100%;
      max-width: 200px;
    }
  }
}
