:host {

  & .card {
    padding: 2.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    text-align: center;

    @media(max-width:768px) {
      padding:0;
    }

    & .body {
      padding:10px;
    }
  }


  & .card-xs {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 16.666%;
    margin: 0.25rem;
    flex: 1 1 16.666%;
    max-width: 250px;

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }
  & .card-sm {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    margin: 0.25rem;
    flex: 1 1 25%;
    max-width: 380px;

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }
  & .card-md {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.333%;
    margin: 0.25rem;
    flex: 1 1 33.333%;
    max-width: 450px;

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }
  & .card-full {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.333%;
    margin: 0.25rem;
    flex: 1 1 33.333%;
  }

  & .card-img-top {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    & img {
      width: 100%;
      max-width: 200px;
    }
  }
}
