@tailwind base;
@tailwind components;
@tailwind utilities;

:root,:host{--primary-color:#16f;--secondary-color:#ff7;}

@font-face {font-family:'Source Sans Pro';font-style:normal;font-weight:400;font-display:swap;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url('https://www.example.com/assets/fonts/source-sans-pro-v13-latin-regular.woff2')format('woff2'),url('https://www.example.com/assets/fonts/source-sans-pro-v13-latin-regular.woff')format('woff'),url('https://www.example.com/assets/fonts/source-sans-pro-v13-latin-regular.ttf')format('truetype');}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{margin:0;padding:0;font-family:'Comic Sans',sans-serif;}

body{background-color:green;background-image:url('/images/webcomponents.1079385342.jpg');}

h1,h2{color:var(--primary-color);border:0.5px solid #dddde1;border-left:3px solid var(--color-secondary);border-top:3px solid var(--color-secondary);}

#foo,.bar{color:var(--secondary-color)}

div>p{display:none}

a[title]{color:purple}

@media screen and (max-width:992px){body{background-color:blue}}

p::first-line{color:blue;width:100%!important;}

pre[class*='language-']{color:#ccc;background:none;}

dd:only-of-type{background-color:bisque}

:not(pre)>code[class*='language-']{background:#2d2d2d}

li:nth-child(-n+3){border:2px solid orange;margin-bottom:1px;}

li:nth-child(even){background-color:lightyellow}

li:nth-last-child(5n){border:2px solid orange;margin-top:1px;}

dd:nth-last-of-type(odd){border:2px solid orange}

p:nth-of-type(2n+1){color:red}

*:lang(en-US){outline:2px solid deeppink}

p~ul{font-weight:bold}

a[href*='greenwood'],a[href$='.pdf']{color:orange}

[title~=flower],a[href^='https'],[lang|=en]{text-decoration:underline}

@keyframes slidein{from{transform:translateX(0%)}to{transform:translateX(100%)}}

@supports (display:flex){.flex-container>*{text-shadow:0px 0px 2px blue;float:none;}.flex-container{display:flex}}

@page {size:8.5in 9in;margin-top:4in;}

@font-feature-values Font One{@styleset {nice-style:12}}

h1:has(+h2){margin:0 0 0.25rem 0}

:is(ol,ul,menu:unsupported) :is(ol,ul){color:green}

.snippet{margin:var(--size-4) 0;padding:0 var(--size-4);}

h1{background-image:url('/foo/bar.baz')}

.has-success{background-image:url('data:image/svg+xml;...')}

:where(html){--size-000:-.5rem}

:dir(rtl){background-color:red}

::slotted(.content){background-color:aqua}

h2 ::slotted(span){background:silver}

tabbed-custom-element::part(tab){color:#0c0dcc;border-bottom:transparent solid 2px;}

::highlight(rainbow-color-1){color:#ad26ad;text-decoration:underline;}