:where(html){--size-000:-.5rem;--size-00:-.25rem;--size-1:.25rem;--size-2:.5rem;--size-3:1rem;--size-4:1.25rem;--size-5:1.5rem;--size-6:1.75rem;--size-7:2rem;--size-8:3rem;--size-9:4rem;--size-10:5rem;--size-11:7.5rem;--size-12:10rem;--size-13:15rem;--size-14:20rem;--size-15:30rem;--size-px-000:-8px;--size-px-00:-4px;--size-px-1:4px;--size-px-2:8px;--size-px-3:16px;--size-px-4:20px;--size-px-5:24px;--size-px-6:28px;--size-px-7:32px;--size-px-8:48px;--size-px-9:64px;--size-px-10:80px;--size-px-11:120px;--size-px-12:160px;--size-px-13:240px;--size-px-14:320px;--size-px-15:480px;--size-fluid-1:max(.5rem,min(1vw,1rem));--size-fluid-2:max(1rem,min(2vw,1.5rem));--size-fluid-3:max(1.5rem,min(3vw,2rem));--size-fluid-4:max(2rem,min(4vw,3rem));--size-fluid-5:max(4rem,min(5vw,5rem));--size-fluid-6:max(5rem,min(7vw,7.5rem));--size-fluid-7:max(7.5rem,min(10vw,10rem));--size-fluid-8:max(10rem,min(20vw,15rem));--size-fluid-9:max(15rem,min(30vw,20rem));--size-fluid-10:max(20rem,min(40vw,30rem));--size-content-1:20ch;--size-content-2:45ch;--size-content-3:60ch;--size-header-1:20ch;--size-header-2:25ch;--size-header-3:35ch;--size-xxs:240px;--size-xs:360px;--size-sm:480px;--size-md:768px;--size-lg:1024px;--size-xl:1440px;--size-xxl:1920px;--size-relative-000:-.5ch;--size-relative-00:-.25ch;--size-relative-1:.25ch;--size-relative-2:.5ch;--size-relative-3:1ch;--size-relative-4:1.25ch;--size-relative-5:1.5ch;--size-relative-6:1.75ch;--size-relative-7:2ch;--size-relative-8:3ch;--size-relative-9:4ch;--size-relative-10:5ch;--size-relative-11:7.5ch;--size-relative-12:10ch;--size-relative-13:15ch;--size-relative-14:20ch;--size-relative-15:30ch;}

@tailwind base;@tailwind components;@tailwind utilities;

:root,:host{--primary-color:#16f;--secondary-color:#ff7;}

@font-face {font-family:'Source Sans Pro';font-style:normal;font-weight:400;font-display:swap;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url('https://www.example.com/assets/fonts/source-sans-pro-v13-latin-regular.woff2')format('woff2'),url('https://www.example.com/assets/fonts/source-sans-pro-v13-latin-regular.woff')format('woff'),url('https://www.example.com/assets/fonts/source-sans-pro-v13-latin-regular.ttf')format('truetype');}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{margin:0;padding:0;font-family:'Comic Sans',sans-serif;}

body{background-color:green;background-image:url('/images/webcomponents.1079385342.jpg');}

h1,h2{color:var(--primary-color);border:0.5px solid #dddde1;border-left:3px solid var(--color-secondary);border-top:3px solid var(--color-secondary);}

#foo,.bar{color:var(--secondary-color)}

div>p{display:none}

a[title]{color:purple}

@media screen and (max-width:992px){body{background-color:blue}}

p::first-line{color:blue;width:100%!important;}

pre[class*='language-']{color:#ccc;background:none;}

dd:only-of-type{background-color:bisque}

:not(pre)>code[class*='language-']{background:#2d2d2d}

li:nth-child(-n+3){border:2px solid orange;margin-bottom:1px;}

li:nth-child(even){background-color:lightyellow}

li:nth-last-child(5n){border:2px solid orange;margin-top:1px;}

dd:nth-last-of-type(odd){border:2px solid orange}

p:nth-of-type(2n+1){color:red}

*:lang(en-US){outline:2px solid deeppink}

p~ul{font-weight:bold}

a[href*='greenwood'],a[href$='.pdf']{color:orange}

[title~=flower],a[href^='https'],[lang|=en]{text-decoration:underline}

@keyframes slidein{from{transform:translateX(0%)}to{transform:translateX(100%)}}

@supports (display:flex){.flex-container>*{text-shadow:0px 0px 2px blue;float:none;}.flex-container{display:flex}}

@page {size:8.5in 9in;margin-top:4in;}

@font-feature-values Font One{@styleset {nice-style:12}}

h1:has(+h2){margin:0 0 0.25rem 0}

:is(ol,ul,menu:unsupported) :is(ol,ul){color:green}

.snippet{margin:var(--size-4) 0;padding:0 var(--size-4);}

h1{background-image:url('/foo/bar.642520792.baz')}

.has-success{background-image:url('data:image/svg+xml;...')}

:where(html){--size-000:-.5rem}

:dir(rtl){background-color:red}

:host(h1){color:red}

::slotted(.content){background-color:aqua}

h2 ::slotted(span){background:silver}

tabbed-custom-element::part(tab){color:#0c0dcc;border-bottom:transparent solid 2px;}

::highlight(rainbow-color-1){color:#ad26ad;text-decoration:underline;}

h2{& span{color:red}}

@media  (max-width:768px){span{flex-direction:column;text-align:center;}}