name: Continuous Integration (Experimental Testing)

on: [pull_request]

jobs:

  build:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node: [16]

    steps:
    - uses: actions/checkout@v1
    - name: Install Chromium Library Dependencies
      run: |
        sh ./.github/workflows/chromium-lib-install.sh
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - name: Installing project dependencies
      run: |
        yarn install --frozen-lockfile && yarn lerna bootstrap
    - name: Lint
      run: |
        yarn lint
    - name: Test
      run: |
        yarn test:exp