name: Continuous Integration (Loaders)

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node: [22, 24]

    steps:
      - uses: actions/checkout@v4
      - name: Install Chromium Library Dependencies
        run: |
          sh ./.github/workflows/chromium-lib-install.sh
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: latest
      - name: Installing project dependencies
        run: |
          yarn install --frozen-lockfile && yarn lerna bootstrap
      - name: Test
        run: |
          yarn test:loaders
