name: Continuous Integration Windows

on: [pull_request]

jobs:

  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - windows-latest
        node: [14]

    steps:
    - uses: actions/checkout@v1
    # - name: Install Chromium Library Dependencies
    #   run: |
    #     sh ./.github/workflows/chromium-lib-install.sh
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - name: Installing project dependencies
      run: |
        yarn install --frozen-lockfile && yarn lerna bootstrap
    - name: Lint
      run: |
        yarn lint
    - name: Test
      run: |
        yarn test:win
    - name: Build
      run: |
        yarn clean && yarn build