name: Continuous Integration Windows (Experimental Testing)

on: [pull_request]

jobs:

  build:
    runs-on: windows-latest

    strategy:
      matrix:
        node: [16]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - name: Installing project dependencies
      run: |
        yarn install --frozen-lockfile --network-timeout 1000000 && yarn lerna bootstrap
    - name: Lint
      run: |
        yarn lint
    - name: Test
      run: |
        yarn test:exp